<!DOCTYPE html>
<html lang="en-us">
<html>
	<head>
		<title>TinyChat Directory</title>
		<meta name="author" content="CosmosisT">
		<meta name="description" content="TinyChat Directory">
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="styles/directory.css">
		<script src="scripts/directory.js"></script>
	</head>
	<body>
		<div id="main-wrapper"></div>
		<div id="jump-top">
			<div class="center">TOP</div>
		</div>
	</body>
</html>